Library/
Temp/
Obj/
obj/
Build/
Builds/
UserSettings/
MemoryCaptures/
Logs/
ProfilerCaptures/
.vs/
.plastic/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.tmp
sysinfo.txt
crashlytics-build.properties
